!!! 5
html
	head
		title Simple, Powerful Git based Version Control for Everyone
		meta(name='description', content='Revisions is a fast and easy to use Git client built in Adobe Air.')
		link(href='/vendor/bootstrap.min.css', rel='stylesheet')
		link(href='/css/styles.css', rel='stylesheet')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Droid+Serif:regular,italic,bold,bolditalic', type='text/css')
		link(rel='icon', href='/img/favicon.png', type='image/png')
		script(type='text/javascript')
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-1890531-10']);
			_gaq.push(['_setDomainName', 'braitsch.io']);
			_gaq.push(['_trackPageview']);
			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
	body
		block content
		block scripts